pandas==1.5.3
streamlit==1.23.1
tpqoa @ git+https://github.com/yhilpisch/tpqoa@f47a1ffddd2b2684c7e1569df6210b98dbe4e701
plotly==5.14.1
streamlit_tags
numpy
pyfolio
matplotlib
certifi==2022.12.7
charset-normalizer==2.1.1
forex-python==1.8
idna==3.4
Pillow==9.4.0
requests
simplejson==3.18.1
urllib3==1.26.13
wcwidth==0.2.5